.main {
    background-color: darkorange;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 15 px;
    border-color: black;
    border-style: double;
    border-width: 10px;
    justify-content: space-between;
}

.fline {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: darkred;
    justify-content: space-between;
}

.name {
    padding-right: 20px;;
}

.reviewtext {
    background-color: salmon;
}

.DeleteOptions {
  background-color: yellowgreen; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  float: right;
  font-size: 16px;
  position: relative;
  
}