.homebtn {
    background: linear-gradient(315deg, #a40606 90%, #d98324 0%);
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   align-self: left;
   float: left;
   margin-left: 10px;
   margin-top: 10px;
   
 }
 .homebtn:hover {
    background: linear-gradient(315deg, #a40606 0%, #d98324 0%);;
 }
 .moviebtn{
    background: linear-gradient(315deg, #a40606 90%, #d98324 0%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    align-self: left;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
 }
 .moviebtn:hover {
     background: linear-gradient(315deg, #a40606 0%, #d98324 0%);;
 }
 
 .searchbtn {
    background: linear-gradient(315deg, #a40606 90%, #d98324 0%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    align-self: left;
    float: left;
    margin-top: 10px;
    margin-left: 10px;   
 }
 
 .searchbtn:hover {
    background: linear-gradient(315deg, #a40606 0%, #d98324 0%);;
 }


.appbar {
   
    background: linear-gradient(315deg, #a40606 74%, #d98324 74%);
    
    }


    .footer {
        position: ;;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
      }