.home {
   background-color: black;
}

h1 {
   margin: 0;
   color:#bbb;
   font-size:1.85em;
}





.sectionTitle{
   padding-left:40px;
   border-bottom:2px solid rgba(0, 0, 0, 0.2);
   margin-bottom:20px;
   text-decoration: none;
   size: 15%;
}
li.image{
   margin:auto;
}



.row1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.moviehome {
   display: flex;
}