

.displaycontainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}

.innerMain {
  display: flex;
  width:60%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.moviedetails {
  flex-basis: 10%;
  padding: 10px;
  
}
.choicebuttons {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  width: 100%;
}



.prev {
  background-color: transparent;;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
  .prev:hover {
    background-color: black;
    font-style: italic;
  }

  .next {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
    
    .next:hover {
      background-color: black;
      font-style: italic;
    }

    .addreview {
      background-color: transparent;; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .addreview:hover {
    background-color: black;
    font-style: italic;
  }

  .shows {
    background-color:transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.shows:hover {
  background-color: black;
  font-style: italic;
}

.showstext {
  color: white;
  text-decoration: none;
}

.text1{
    
  bottom: 10px;
  left: 10px;
  padding: 4px 8px;
  color: white;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 400;
  font-size: 48px;
  line-height: 45px;  

}

.revrate {
  color: #FD6400;
  font-weight: 400;
   font-family:alternate-gothic-no-1-d,"Futura Condensed","Arial Narrow",Arial,sans-serif;
}

.moviecontent {
  background-color: dimgray;
  padding: 10px;
}