.listing  {
  width: 100px;
  display: flex;
  }

.container {
  background-color: black;
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
}

.filters {
  display: flex;
  color: blueviolet;
  background-color: blueviolet;
}

.text {
    color: yellow;
    width: 50%;
}

.select-style {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background-color: darkgoldenrod;;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}