.main {
    background-color:whitesmoke;
    flex-direction: column;
    padding: 10px;
    justify-content: center;;
    width: 700px;
}

.fline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    padding-right: 20px;;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

.reviewtext {
   
    color: darkgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}

.ratingtextcard {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.DeleteOptions {
  background-color: yellowgreen; 
  color: white;
  text-align: center;
  text-decoration: none;
  float: right;
  font-size: 16px;
  position: relative;
  opacity: 0;
}

.main:hover .DeleteOptions{
    opacity: 1;
}


.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
   
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
   
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
   
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }