.main {
    background-color:whitesmoke;
    flex-direction: column;
    padding: 10px;
    justify-content: center;;
    width: 100%;
}

.fline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    padding-right: 20px;;
}

.reviewtext {
   
    color: black;
}

.DeleteOptions {
  background-color: yellowgreen; 
  color: white;
  text-align: center;
  text-decoration: none;
  float: right;
  font-size: 16px;
  position: relative;
  opacity: 0;
}

.main:hover .DeleteOptions{
    opacity: 1;
}